/*Tags*/
html{
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
h1{
  font-size: 10vh;
  font-family: "Courier New", Courier, monospace;
  color:white;
}
/*IDs*/
#intro-text{
  font-size:5vw;
  border-style: solid;
  border-color: white;
  border-width: thick;
  width: auto;
  z-index: 1;
  background-color: rgb(33, 37, 41,.8);
  transition: 0s;
}
#about-content{
  width:auto;
  height: auto;
  max-width: 100%;
  max-height:100%;
}
#About{
  background-image: url("../pictures/wheelhub.png");
  background-size: cover;
  color:white;
}
#content-pictures {
    max-height: 50%;
    max-width: 100%;
    padding: 0;
}
#intro{
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding-top: 20vh;
  background-repeat: repeat;
  justify-content: center;
  background-image: url("../pictures/BatteryWiring-min.png");
  background-size: cover;
  margin-bottom: 0;
}
#content-card{
  height:30rem;
}
#bottom-bar{
  height:10vh;
  background-color: #343a40;
}
#content-card-body{
  position: relative;
}
#content-card-date{
  position: absolute;
  bottom:0;
  left: 0;
  right: 0;
  text-align: center;
  margin-bottom: 2rem;
}
#Experience{
  background-color: black;
  background-size: cover;
  background-position: center;
}
#socialmedia{
  width:auto;
  padding-top: 5rem;
  margin-right: auto;
}
/* Classes*/
.full-section{
  min-height: 100vh;
  min-width: auto;
  padding-top:5rem;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.left-card{
    border-right:.1vw solid #EEEEEE;
}
.fit-image{
  max-width: 50%;
  max-width: 50%;
}
.no-padding{
  padding: 0;
  margin: 0;
}
.nav-bar-title-text{
  font-size: 99%;
  font-family: 'Spectral SC', serif;
}
.jumbotron{
  color: white;
  background-position: fixed;
  font-family: 'Spectral SC', serif;
  height: 70vh;
}
.centered{
float: none;
margin: 0 auto;
}
/*Tacos*/
.container-section{
    width:100%;
    height:200px;
    padding-right:15%;
    padding-left:15%;
    margin-right:auto;
    margin-left:auto;
}
